@model IEnumerable<Cyclops.Selection>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Display)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Token)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MasterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Display)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MasterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SelectionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SelectionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SelectionId })
        </td>
    </tr>
}

</table>
