@model IEnumerable<Cyclops.Web.FileInfoViewModel>

@{
    ViewBag.Title = "Index";

    var data = new Cyclops.Web.FileInfoViewModel();
}

<h2>Image</h2>


    <div id="new-deployment" class="panel-collapse collapse">
        @Html.Partial("_ImageUpload", data)
    </div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Folderpath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <img src="@item.ImagePath"  height="40"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
