<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,
		'popUpWindow',
		'height=300',
		width=400,left=10,top=10,
		resizable=yes,
		scrollbars=yes,
		toolbar=yes,
		menubar=no,
		location=no,
		directories=no,
		status=yes)
}
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cyclops", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Lookups", "Index", "Selections")</li>
                    <li>@Html.ActionLink("Apps", "Index", "Apps")</li>
                    <li>@Html.ActionLink("Servers", "Index", "Servers")</li>
                    <li>@Html.ActionLink("Solutions", "Index", "Solutions")</li>*@

                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Lookups", "Index", "Selections")</li>
                        <li>@Html.ActionLink("Apps", "Index", "Apps")</li>
                    }
                    @if (User.IsInRole("guest") | User.IsInRole("member") | User.IsInRole("admin"))
                    {

                        <li>@Html.ActionLink("Servers", "Index", "Servers")</li>
                        <li>@Html.ActionLink("Solutions", "Index", "Solutions")</li>
                     }
                    
                </ul>
                @if (User.IsInRole("member") | User.IsInRole("admin"))
                {
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" name="q" class="form-control" placeholder="Search" />
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
